# Environment variables
.env
.env.*

# Dependencies
node_modules/

# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Build
dist/
build/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo